/******************************************************************************/
/*                                   Body                                     */
/******************************************************************************/
	body {
		/* Layout */
		max-width: 50em;               /* limit line length to 50em for readability   */
		margin: 0 auto;                /* center text within page                     */
		padding: 1.6em 1.5em 2em calc(26px + 3em); /* leave space for status flag     */
		/* Typography */
		line-height: 1.1;
		font-family: 'Times New Roman', serif;
		font-size: 14pt; 
		/* Colors */
		color: black;
	}

/** Headings ******************************************************************/
	h1, h2, dt {
		font: 100% sans-serif;   /* Reset all font styling to clear out UA styles */
		font-family: inherit;    /* Inherit the font family. */
		line-height: 1.2;        /* Keep wrapped headings compact */
		hyphens: manual;         /* Hyphenated headings look weird */
	}
	h1, h2, h3 {
		color: #034575;
		background: transparent;
	}
	h1 { font-size: 170%; margin-top: 2em; }
	h2 { font-size: 140%; margin-top: 1em; }
	dt { font-weight: bold; }

/** Section divider ***********************************************************/
	:not(.head) > hr {
		font-size: 1.5em;
		text-align: center;
		margin: 1em auto;
		height: auto;
		border: transparent solid 0;
		background: transparent;
	}
	:not(.head) > hr::before {
		content: "\00a4\2003\2003\00a4\2003\2003\00a4";
	}

/******************************************************************************/
/*                            Paragraphs and Lists                            */
/******************************************************************************/
	p {
		margin: 1em 0;
	}
	dd > p:first-child,
	li > p:first-child {
		margin-top: 0;
	}
	ul, ol {
		margin-left: 0;
		padding-left: 2em;
	}
	li {
		margin: 0.25em 0 0.5em;
		padding: 0;
	}
	dl dd {
		margin: 0 0 .5em 2em;
	}
	.head dd + dd { /* compact for header */
		margin-top: -.5em;
	}
	/* Style for algorithms */
	ol.algorithm ol:not(.algorithm) {
	 border-left: 0.5em solid #DEF;
	}
	/* Style for switch/case <dl>s */
	dl.switch > dd > ol.only {
	 margin-left: 0;
	}
	dl.switch > dd > ol.algorithm {
	 margin-left: -2em;
	}
	dl.switch {
	 padding-left: 2em;
	}
	dl.switch > dt {
	 text-indent: -1.5em;
	 margin-top: 1em;
	}
	dl.switch > dt + dt {
	 margin-top: 0;
	}
	dl.switch > dt::before {
	 content: '\21AA';
	 padding: 0 0.5em 0 0;
	 display: inline-block;
	 width: 1em;
	 text-align: right;
	 line-height: 0.5em;
	}

/** Terminology Markup ********************************************************/
	dfn   { /* Defining instance */
		font-weight: bolder;
	}
	a > i { /* Instance of term */
		font-style: normal;
	}
	dt dfn code, code.idl {
		font-size: inherit;
	}
	dfn var {
		font-style: normal;
	}

/** Change Marking ************************************************************/
	del { color: red;  text-decoration: line-through; }
	ins { color: #080; text-decoration: underline;    }

/** Miscellaneous improvements to inline formatting ***************************/
	sup {
		vertical-align: super;
		font-size: 80%
	}

/******************************************************************************/
/*                                    Code                                    */

	pre, code, samp {
		font-family: 'Courier New', monospace;
		font-size: 1em;
		color: DeepPink; 
		overflow-y: hidden; 
		overflow-x: hidden;
		page-break-inside: avoid;
		hyphens: none;
		text-transform: none;
	}
	pre code,
	code code {
		font-size: 100%;
	}
	pre {
		margin-top: 1em;
		margin-bottom: 1em;
	}

/** Inline Code fragments *****************************************************/
/* code { color: #D93B00; } */

/******************************************************************************/
/*                                    Links                                   */
/******************************************************************************/

/** General Hyperlinks ********************************************************/

	/* We hyperlink a lot, so make it less intrusive */
	a[href] {
		color: #034575;
		text-decoration: none;
		border-bottom: 1px solid #707070;
		/* Need a bit of extending for it to look okay */
		padding: 0 1px 0;
		margin: 0 -1px 0;
	}
	a:visited {
		border-bottom-color: #BBB;
	}

	/* Use distinguishing colors when user is interacting with the link */
	a[href]:focus,
	a[href]:hover {
		background: #f8f8f8;
		background: rgba(75%, 75%, 75%, .25);
		border-bottom-width: 3px;
		margin-bottom: -2px;
	}
	a[href]:active {
		color: #C00;
		border-color: #C00;
	}

	/* Backout above styling for W3C logo */
	.head p:not(.copyright) > a,
	.head > a:first-child {
		border: none;
		text-decoration: none;
		background: transparent;
	}


