body { font-family: 'Roboto Light', monospace; 
	font-size: 20px;
	padding-top: 70px; /* Navigatsiooniriba mahutamiseks */
	padding-bottom: 50px; }

.jumbotron { background-color: Azure; }
.jumbotron h1 { font-family: 'Source Code Pro', monospace !important;
	color: #00acc1; font-size: 40px !important; }

.dropdown { margin-top: 4rem; }

.nupp { margin-top: 2rem; 
	font-size: 20px;
	background-color: #FFF !important;
	color: #180D01 !important;
	background-image: none !important;
	border-color: #180D01 !important;
}

/* Bootstrap-i üledefineerimine */
.dropdown-menu { font-size: 20px; }

/* Rippmenüü valiku ja caret vahe */
.selection { margin-right: 5px; } 

/* //// Material design ikoonid //// */
.ikoon { color: #00acc1; font-size: 48px !important; }	

