body { font-family: 'Roboto', sans-serif; 
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 50px; }

h1 { margin: 2rem 0 2rem; font-family: 'Roboto Light'; }

.mainMenu li { display: inline;
	text-align: center; margin-left: 4rem;}
.mainMenu li a {
  display: inline-block;
  width: 10rem;
  padding: .5rem 0;
  margin: 0;
  text-decoration: none;
  color: #333; font-size: 20px;
}
.mainMenu li a:hover {
	border-bottom: 3px solid black;
}	
.mainMenu .selected {
	border-bottom: 3px solid black;
}

.t1, .t2, .t3, .t4 { margin: 3rem; color: DarkGrey;
	display: none; }

