html { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px; line-height: 1.2; color: #333; }
a { color: #03739c; text-decoration: none; }
a:hover { text-decoration: underline; }
